/* Elimina el margen por defecto que añaden algunos navegadores */
body {
    margin: 0;
}
/* Contenedor general de la web */
.whole-page {
    display: flex;
    flex-direction: column;
}

.header-link {
    width: 140px;
    height: 30px;
}
.top-bar,
.horizontal-images,
.upper-banner {
    display: flex;
}
.top-bar,
.upper-banner,
.footer {
    background-color: #1F2937;
}
.content-text {
    background-color: #E5E7EB;
}
.top-bar {
    gap: 12px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 24px 24px;
    margin-right: auto;
}
.upper-banner-left {
    width: 50%;
    padding: 25px 10px 25px 100px;
}
.upper-banner-right {
    width: 50%;
    padding: 25px 100px 25px 10px;
}
.content h2 {
    text-align: center;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.header-link,
.secondary-text,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}
.footer p {
    text-align: center;
}
ul {
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0;
}
ul a {
    color: inherit;
    text-decoration: none;
}